# Calculate format=kde link=/usr/share/applications/cl-console-gui-install.desktop mirror chmod=755  os_root_type==livecd 
[Desktop Entry]
NoDisplay=false
